.filme-info{
    margin: 0 auto;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.filme-info h1{
    margin: 14px 0;
}

.filme-info h3{
    margin-top: 8px;
}

.filme-info span{
    margin: 8px 0;
}

.filme-info img{
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    border-radius: 8px;
}

.area-buttons button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.7s;
}

.area-buttons a{
    text-decoration: none;
    color: #000;
    border-radius: 4px;
    transition: all 0.7s;
}

.area-buttons button:hover{
    background-color: brown;
    color: white;
}

.area-buttons a:hover{
    color:white;
}

